:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: #9f75c4;
  --color-secondary: #8a62b2;
  --color-dark: #a267e5;
  --color-bg: #5f3f8c;
  --color-blur: rgba(145, 107, 178, 0.7);
  --color-glow: #521f7f;  
  --color-about-start-gradient: #7147aa;
  --color-about-end-gradient: rgba(163, 139, 232, 0.42);
  --color-menu-start-gradient: rgba(113, 71, 170, 0.2);
  --color-menu-end-gradient: #7147aa;

  /* Fonts */
  --font-roboto: "Roboto";
}
